asgiref==3.6.0
defusedxml==0.7.1
Django==4.1.7
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djangorestframework-xml==2.0.0
PyJWT==2.6.0
pytz==2022.7.1
sqlparse==0.4.3
